<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-volume-control-phone" aria-hidden="false"></i>
                        Identité de Orleans Metropol
                    </h3>
                    <h5>ORLÉANS MÉTROPOLE</h5>
                    <h5>5 Place 6 Juin 1944 45000 Orléans</h5>
                    <h5>Horaires d'Orléans Métropole</h5>
                    <h5>lundi au vendredi : 8h00 - 18h00 </h5>
                </div>
            </div>
        </div>
    </div>
</div>