
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-volume-control-phone" aria-hidden="false"></i>
                        Contact de Orleans Metropol
                    </h3>
                    <h5>Fix : 02 38 79 22 22</h5>
                    <h5>Email : Orleans.metropole@orleans.fr</h5>
                    <h5>Les Horaires</h5>
                    <h5>lundi au jeudi : 8h30 - 17h30</h5>
                    <h5>vendredi : 8h30 - 17h00 </h5>
                    <h5>Samedi : 9h00 - 12h00 (uniquement les affaires administratives) </h5>
                </div>      
            </div>
        </div>
    </div>
</div>