<footer class="footer-distributed text-center">
    <div class="footer-right ">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-volume-control-phone"></i></a>
        <a href="#"><i class="fa fa-envelope-open"></i></a>
        <a href="#"><i class="fa fa-address-card"></i></a>
    </div>
    <dev class="mention">
        <a><i>Mention legal</i></a>
    </dev>
</footer>