<footer class="footer-distributed ">
    <div class="footer-right ">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Blog</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#">Contact</a>
            <a class="ml-4 " >Company Name &copy; 2018</a>
        </p>
    </div>
</footer>