<footer class="footer-distributed text-center">
    <div class="footer-right ">
        <a href="#t0"><i class="icon fa fa-home" id="ziro"></i></a>
        <a href="#t1"><i class="fa fa-facebook" id="uno"></i></a>
        <a href="#t2"><i class="fa fa-twitter" id="dos"></i></a>
        <a href="#t3"><i class="fa fa-instagram" id="tres"></i></a>
        <a href="#t4"><i class="fa fa-volume-control-phone" id="cuatro"></i></a>
        <a href="#t5"><i class="fa fa-envelope-open" id="canqo"></i></a>
        <a href="#t6"><i class="fa fa-address-card" id="sixo"></i></a>
    </div>
    <dev class="mention">
        <a><i>Mention legal</i></a>
    </dev>
</footer>