
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 message">
            <form >
                <div class="form-group ">
                    <label for="exampleInputEmail1">Votre email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="">Objecte</label>
                    <input type="" class="form-control" id="exampleInputPassword1" >
                </div>
                <div class="form-group">
                    <label for="exampleTextarea">Votre message</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Fichers</label>
                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>
</div>