<div class="wrapper">
     <span class="menu_toggle">
        <i class="menu_open fa fa-bars fa-lg"></i>
        <i class="menu_close fa fa-times fa-lg"></i>
     </span>
     <div class="overlay">
        <ul>
            <li><a href="#">Connexion</a></li>
            <li><a href="#">Registre</a></li>
            <li><a href="#">Musée</a></li>
            <li><a href="#">Artiste</a></li>
            <li><a href="#">Oeuvres d'art</a></li>
        </ul>
     </div>
</div>
