<div class="wrapper">
    <span class="menu"></span>

    <div class="title">
        <h1>Culturathon3!</h1>
    </div>

    <div class="overlay">
        <ul>
            <li><a href="#">Cyril</a></li>
            <li><a href="#">MAx</a></li>
            <li><a href="#">Mahmoud</a></li>
            <li><a href="#">Demian</a></li>
            <li><a href="#">Toma</a></li>
        </ul>
    </div>

</div>