<div class="wrapper">
     <span class="menu_toggle">
        <i class="menu_open fa fa-bars fa-lg"></i>
        <i class="menu_close fa fa-times fa-lg"></i>
     </span>
     <div class="overlay">
        <ul>
            <li><a href="#">Cyril</a></li>
            <li><a href="#">MAX</a></li>
            <li><a href="#">Mahmoud</a></li>
            <li><a href="#">Damien</a></li>
            <li><a href="#">Toma</a></li>
        </ul>
     </div>
</div>
