 <div class="container">
     <div class="row">
        <div class="col-xs-6 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-twitter-square" aria-hidden="false"></i>
                        Tweets de OrleansMetropol
                    </h3>
                </div>
                <div class="panel-body">
                    <a class="twitter-timeline"  data-height="100%" href="https://twitter.com/OrleansMetropol?ref_src=twsrc%5Etfw">Tweets by solodev</a>
                </div>
            </div>
        </div>
    </div>
 </div>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>



