
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-youtube" aria-hidden="false"></i>
                        Youtube de OrleansMetropol
                    </h3>
                </div>
                <div class=" ">
                    <iframe class="col-xs-6 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2" width="700" height="480" src="https://www.youtube.com/embed/5RO_Ib5kUwo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                </div>
            </div>
        </div>
    </div>
</div>