{% extends 'base.html.twig' %}

{% block body %}
    <div class="row my-5">
        <div class="offset-3 col-md-6 mx-auto shadow">
            <h1 class="text-center">Artist creation</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="container">
                <div class="row">
                    <div class="d-flex">
                        <input type="submit" value="Create" class="btn btn-info mr-2 mb-2"/>
                        {{ form_end(form) }}
                        <div class="d-flex">

                            <a href="{{ path('artist_index') }}" class="btn btn-info mr-2 mb-2">Back to the list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
