{% extends "base.html.twig"%}

{% block body %}
    <h1>Page d'accueil</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <ul>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
            </li>
            <li>
                <a href="{{ path('user_index') }}">Voir tous les utilisateurs</a>
            </li>
        </ul>

    {% else %}

        <ul>
            <li>
                <a href="{{ path('fos_user_security_login') }}">Login</a>
            </li>

            <li>
                <a href="{{ path('fos_user_registration_register') }}">S'enregistrer</a>
            </li>
        </ul>

    {% endif %}


{% endblock %}
