{% include 'default/index.html.twig' %}

{% block body %}
    <body class="artwork">
    <div class="container">
        <div class="row">
            {% for artworkUserEmotion in artworkUserEmotions %}
                {{ artworkUserEmotion.emotion.color }}
            {% endfor %}
        </div>
    </div>
    </body>
{% endblock %}

